<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <link rel="stylesheet" href="pq.css">
    <script src="jquery-3.4.1.js"></script>
    <title>Poo Quotes Generator</title>
</head>
<body>
        <h1>Poo Quote Generator</h1>
        <h2>Click the poo for a fun poo quote</h2>
        <button id="pooBtn">💩</button>
        <p id="quote">Your Sharona? My intestines.</p>
        <p>Back to <a href="https://www.happypooyear.tk">HappyPooYear!</a></p>
    <script src="pq.js"></script>
</body>
</html>